---
import { members } from '../data.yaml';
import { renderRefs } from '../lib/utils.js';

---


<div class="grid grid-cols-3 sm:grid-cols-5 gap-2 not-prose">
    {members.map(m => (
        <div class="mb-3">
            <img src={'/images/members/'+m.img} class="aspect-square object-cover rounded-xl" />
            <div class="mt-1 font-semibold">{m.name}</div>
            <div class="text-xs">
                <Fragment set:html={renderRefs(m.refs)} />
            </div>
        </div>
    ))}
</div>