---
import { protocols } from '../data.yaml';
import { renderRefs, fixLink } from '../lib/utils.js';
---


<div class="not-prose grid grid-cols-2">
    {protocols.map(p => {
        return (
        <div class="flex gap-4 mb-4 py-2 px-2 hover:bg-gray-100 rounded-lg w-full group" class:list={[p.confirmed === false ? 'opacity-50' : '']}>
            <div class="shrink-0"><img src={'/images/protocols/'+p.img} class="aspect-square object-fit rounded w-14" /></div>
            <div class="grow">
                <div class="flex flex-wrap gap-2 items-center w-full">
                    <div class="font-semibold">
                        {p.refs?.web && (
                            <a href={fixLink(p.refs.web)} class="hover:underline">{p.name}</a>
                        )}
                        {!p.refs?.web && p.name}
                    </div>
                </div>
                {p.description && (
                    <div class="prose-inline text-sm">{p.description}</div>
                )}
                {p.tags && (
                    <div class="mt-1.5 flex gap-2">
                        {p.tags.map((tag) => (
                            <div class="bg-gray-100 rounded-xl py-0.5 px-2 text-xs text-black/50">{tag}</div>
                        ))}
                    </div>
                )}
            </div>
        </div>
    )})}
</div>