---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gwei.cz</title>
	</head>
	<body>
		<div class="mx-auto max-w-2xl my-10">
            <div class="flex gap-2 items-center">
                <div><img src="/logo.png" class="aspect-square w-24" /></div>
                <div>
                    <h1 class="text-3xl font-semibold">Gwei.cz</h1>
                    <div class="mt-1 opacity-50 italic">Connecting builders since 2020</div>
                </div>
            </div>
			<div class="prose mt-10 px-2">
                <slot />
			</div>
		</div>
	</body>
</html>

<style>
    body {
        font-family: 'Manrope', sans-serif;
    }
</style>
